<div class="error"></div>
<div class="property lastUpdate">
	<div class="value">{{lastUpdate}}</div>
</div>
<div class="property">
	<div class="label">latitude</div>
	<div class="value">
		{{formatNumber latitude 6}}
	</div>
</div>
<div class="property">
	<div class="label">longitude</div>
	<div class="value">
		{{formatNumber longitude 6}}
	</div>
</div>
<div class="property">
	<div class="label">accuracy m</div>
	<div class="value">
		{{formatNumber accuracy 0}}
	</div>
</div>
<div class="property">
	<div class="label">heading</div>
	<div class="value">
		{{formatNumber heading 0 "°"}}
	</div>
</div>
<div class="property">
	<div class="label">alt m</div>
	<div class="value">
		{{formatNumber altitude 2}}
	</div>
</div>
<div class="property">
	<div class="label">speed m/s</div>
	<div class="value">
		{{formatNumber speed 0}}
	</div>
</div>